[user]
	email = aaron.t.boyd@gmail.com
	name = Aaron Boyd
[push]
	default = simple
[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
[merge]
    conflictstyle = diff3
	tool = Kaleidoscope
[alias]
    st = status -sb
    mg = merge --no-ff
    ff = merge
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[branch]
	autosetuprebase = always
[pull]
	rebase = true
